<!-- src/app/layout/layout.component.html -->
<div class="main-container">
  <!-- Full-screen background image -->
  <div class="hero-image"></div>

  <!-- Navigation buttons -->
  <div class="button-container">
    <button mat-raised-button color="primary" (click)="openBottomSheet('projects')">Projects</button>
    <button mat-raised-button color="primary" (click)="openBottomSheet('videos')">Videos</button>
    <button mat-raised-button color="primary" (click)="openBottomSheet('about')">About Me</button>
  </div>
</div>
